*
.gitignore
!.gitattributes
!/Creaturae/
!/Creaturae/**

# !/Creaturae/Religion
# !/Creaturae/Religion/**
# !/Droite_gauche
# !/Droite_gauche/**
# !/Creaturae/Droite_gauche
# !/Creaturae/Droite_gauche/**

# !/Creaturae/Occidentaux-Orientaux
# !/Creaturae/Occidentaux-Orientaux/**

!/Accueil/
!/Accueil/**
!/Art-Artistes/
!/Art-Artistes/**
!/Assets
!/Assets/**
!/Additional_html/
!/Additional_html/**
!/Images
!/Images/**
!Voie_javascript/
!Voie_javascript/**
!/Audio_s/
!/Audio_s/**

!/Perspectives/Perspectives
!/Perspectives/Perspectives/** */

!/Plugins_js_jquery_css_php/
!/Plugins_js_jquery_css_php/**
!/Voie_javascript/
!/Voie_javascript/**
# Film_s
# Audio_s
**/Film_s/**/__*
**/Film_s/**/*__.*
**/Audio_s/**/__*
**/Audio_s/**/*__.*
# Film_s/*v3*
# Audio_s/*v3*
# AAA/**/*uuu*
# Posters_for_images
!/Scss/
!/Scss/**
!/Pdfs/
!/Pdfs/**
# !Créatures_sujets_à_l_étude.html

# !gauche_et_droite.html
# !Orientaux__Occidentaux.html
# !Artistes-Comoedica-Musiciens.html
# !ufologues-extraterrestres.html
# !Créatures_du_livre__religions.html
# !Cr%C3%A9atures_du_livre__religions.html
!style_principal.css
!css_for_new_audio_player.css
!favicon.ico
!/Css files/
!/Css files/**
!/bootstrap-5.3.3-dist/
!/bootstrap-5.3.3-dist/**
!/bootstrap-5.3.4-dist/
!/bootstrap-5.3.4-dist/**
!/bootstrap-5.3.7-dist/
!/bootstrap-5.3.7-dist/**
Voie_javascript/check_which_browser.js

# !/Pages_pour_historique_site/
# !/Pages_pour_historique_site/**
# !/Pages_pour_historique_site/accueil_historique_t2.html
# !/Pages_pour_historique_site/0historique_des_modifications_pour_toutes_les_pages.html
# !/Pages_pour_historique_site/0info_tab_histo.html
# !/Pages_pour_historique_site/Orientaux__Occidentaux_historique_t2.html

# /Pages_pour_historique_site/test_volet_historique_historique_t2.html
/.gitignore
# /Pages_pour_historique_site/0_accueil_historique_t2.html
# /Pages_pour_historique_site/html_test_plus_historique_t2.html

*.ffs*
/Accueil/Brouillons
Creaturae/Certaines ''puissances''
!/Animation_s/
!/Animation_s/**

!/node_modules/
!/node_modules/**
0_*.html
/Additional_html/horizontal_heading_avant_boutons_doubles.html
/Additional_html/Images_addi/Images_for_backgrounds/Table_p_backgrounds/21mai2025_DLY85nvNgd.png
/Additional_html/Images_addi/Images_for_backgrounds/Table_p_backgrounds/21mai2025_8Unb5UcQLR.png
/node_modules/.package-lock.json
clusterize.js
chart.js
chartjs-color
chartjs-color-string
chartjs-plugin-annotation
chartjs-plugin-datalabels
chartjs-plugin-deferred
chartjs-plugin-dragdata
chartjs-plugin-style
chartjs-plugin-zoom
chart.js
chartjs-color
chartjs-color-string
chartjs-plugin-annotation
chartjs-plugin-datalabels
chartjs-plugin-deferred
chartjs-plugin-dragdata
chartjs-plugin-style
chartjs-plugin-zoom
moment
@kurkle
@types
d3-dispatch
d3-drag
d3-selection
hammerjs
color-convert
color-name
/Additional_html/coquille4_top_l copy.html
/Additional_html/horizontal_heading copy.html
/Css files/bootstrap-icons11.css
/c:/xampp/htdocs/Site_github_page/.vscode/c:/xampp/htdocs/Site_github_page/.vscode/settings.json
bootstrap-5.3.4-dist
/Css files/style_principal_2.css
/Plugins_js_jquery_css_php/Plugins_for_video/lite-youtube-embed-master/src/lite-yt-embed_iframe8_avant_refactorisation.js
/Plugins_js_jquery_css_php/Plugins_for_menus_table_of_contents/jquery-dynamic-content-menu/js/jquery-dynamic-content-menu copy.js
/Scss/custom_vendredi_18_juillet_2025.css
/Plugins_js_jquery_css_php/Plugins_for_video/lite-youtube-embed-master/src/lite-yt-embed_iframe8_last_fonc.js
