html,
body,
#breadcrumb > ul,
.h1_background_class_horizontal_heading,
.h2_background_class_horizontal_heading,
.h3_background_class_horizontal_heading,
.h4_background_class_horizontal_heading,
.liste_tous_titres_class {
  background: url("Images/Images_for_backgrounds/Avif_images/polar-lights-7016856.avif") !important;

  background-repeat: repeat;
  background-attachment: fixed !important;

  background-size: 100%;
}

#breadcrumb > ul {
  background: url("Images/Images_for_backgrounds/Avif_images/polar-lights-7016856.avif") !important;

  background-repeat: repeat;
  background-attachment: fixed !important;

  background-size: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: #357b00;
}

audio::-webkit-media-controls-mute-button {
  background-color: #117000;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(2, 5, 7, 0.7);
}

audio::-webkit-media-controls-timeline {
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

div::-webkit-scrollbar {
  width: 12px;
}

div::-webkit-scrollbar-button {
  background: rgb(14, 13, 8);
}

div::-webkit-scrollbar-thumb {
  background: #035c00;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #047800;
}

div::-webkit-scrollbar-track {
  background: rgb(1, 1, 1);
  border-radius: 10px;
}

div::-webkit-scrollbar-corner {
  background: #121;
}

div::-webkit-resizer {
  background: rgb(57, 161, 68);
}

.progress_bar_p {
  height: 5px;
  background-color: #393939;
  cursor: pointer;
}

.progress_bar_fill_p {
  position: absolute;
  height: 100%;
  background-color: #45e400;
}
button:hover {
  color: #45e400;
}
