html,
body,
#breadcrumb > ul,
.h1_background_class_horizontal_heading,
.h2_background_class_horizontal_heading,
.h3_background_class_horizontal_heading,
.h4_background_class_horizontal_heading,
.liste_tous_titres_class {
  background: url("Images/Images_for_backgrounds/Images_for_backgrounds_avif/desert-2042738_1920.avif");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position-y: 0rem;
  background-size: 98vw;
}

#breadcrumb > ul {
  background: url("Images/Images_for_backgrounds/Images_for_backgrounds_avif/desert-2042738_1920.avif");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position-y: 0rem;
  background-size: 98vw;
}

_:-ms-lang(x),
_:-webkit-full-screen,
html,
body {
  background: url("../../Images/Backgrounds/desert-2042738_1920.jpg");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position-y: 0rem;
  background-size: 98vw;
}

audio::-webkit-media-controls-panel {
  background-color: #aa0000;
}

audio::-webkit-media-controls-mute-button {
  background-color: #cd3f07;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(224, 177, 177, 0.966);
}

audio::-webkit-media-controls-timeline {
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

audio::-webkit-media-controls-timeline {
}

audio::-webkit-media-controls-timeline {
}

audio::-webkit-media-controls-timeline-container {
  background: linear-gradient(to right, #f00, #ff0);
}

.grey_background {
}

.grey_background_h2_1 > li {
  background-color: rgba(154, 0, 0, 0.333) !important;
}

.grey_background_h2_2 > li {
  background-color: rgba(0, 98, 154, 0.333) !important;
}

div::-webkit-scrollbar {
  width: 12px;
}

div::-webkit-scrollbar-button {
  background: rgb(14, 13, 8);
}

div::-webkit-scrollbar-thumb {
  background: #8d0000;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #a50000;
}

div::-webkit-scrollbar-track {
  background: rgb(1, 1, 1);
  border-radius: 10px;
}

div::-webkit-scrollbar-corner {
  background: #121;
}

div::-webkit-resizer {
  background: rgb(57, 161, 68);
}

.progress_bar_p {
  height: 5px;
  background-color: #720000;
  cursor: pointer;
}

.progress_bar_fill_p {
  position: absolute;
  height: 100%;
  background-color: #e20000;
}
button:hover {
  color: #e20000;
}
