html,
body,
.liste_tous_titres_class {
  background: url("../Images/Images_for_backgrounds/sicily-1191476_1920.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
}
