.popover {
  font-size: 100%;

  border: 1px dashed #dcff5c;
  border-radius: 10px;

  z-index: 99000 !important;

  background-color: #212122;
}

.popover-header {
  color: white;
  font-weight: bold;
  display: none;
  z-index: 99000 !important;
}

.popover-body {
  border: 1px dotted #2c2c2c !important;
  border-radius: 10px;
  z-index: 9900 !important;
  min-height: 30px;
}
.btn_custom_2 {
  color: white;
  background-color: #7e0000 !important;
  font-size: 14px;
}
.pop_button {
  min-height: 16px;
}
.btn_custom_bread_pop {
  color: #9d00ff;
  border-right: 0px solid black !important;
  background-color: #333335;
}
.btn_custom_pop_menu_droite {
  color: #ff0000;
  border-right: 0px solid black !important;
  background-color: #333335;
}
.btn_custom_source {
  color: #ffffff;

  background-color: #6381af !important;
  border-right: 0px solid black !important;
}
.btn_custom_pop_messagerie {
  color: #8788dd;
  background-color: #274632;
  border-right: 0px solid black !important;
}
.btn_custom_pop_tous_titres {
  color: #8452cf;
}
.btn_custom_volet_histo_pop {
  background-color: #4c1c20;
  border-right: 0px solid black !important;
}

.btn_custom_tableau_pop {
  background-color: #a14800;
  color: yellow;
}

.btn_custom_bordures_pop {
  border-left: 0px solid black !important;
  translate: 0 30px 0;
}

.pink_ii {
  color: plum !important;
}
.pink_iii {
  color: #8452cf !important;
}

.btn_infos_g_site {
  background-color: #00006c;
  color: white;
}

.btn_boutons_vidéos_youtube_ht_gache,
.btn_custom_bordures_vidéos_youtube {
  font-size: 14px;
  color: white;
  background-color: #560000 !important;
}

.btn_custom_pop_style_audio,
.btn_custom_pop_center_audio,
.btn_custom_pop_audio_play_or_not {
  font-size: 14px !important;
  background-color: #171717 !important;
}

.btn_custom_bouton_labels {
  color: rgb(115, 255, 115);
  background-color: #434343;
}

.btn_custom_background_pop {
  background-color: #333335;
}

.btn_custom_bouton_7_boutons_des_7_pages {
  position: relative;
  border-radius: 1rem;

  color: #ffffff;
  cursor: pointer;

  border: 0px solid #00ffff;

  background-image: linear-gradient(
    90deg,
    #280024,
    #a72e00,
    #944f00,
    #809600,
    #009a8d,
    #520079,
    #a90098
  );

  background-size: 200% 100%;
  background-position: 0 0;

  animation: bg_flow 12s linear infinite;
  animation-play-state: paused;
}

.btn_custom_bouton_7_boutons_des_7_pages:hover {
  animation-play-state: running;
}

@keyframes bg_flow {
  to {
    background-position: 200% 0;
  }
}
