.custom_audio_player_p {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #1b1c1d;
  border-radius: 10px;

  position: relative;
  transition: background-color 0.3s ease;
  min-height: 30px;
  max-height: 40px;

  border: 1px dashed grey;
  max-width: 80vw;
  z-index: 80 !important;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
  transition: color 0.3s ease;
}

button:focus {
  outline: none;
}

.control_group_p {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 20;
}

.control_group_p button {
  position: relative;
  margin: 0;
  padding: 6px 8px;
  font-size: 16px;
}

button.bi-arrow-repeat {
  border-radius: 50%;
  background-color: #2e2e2e;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.play_pause_p_p {
  position: absolute;
  left: 40px;
  bottom: 0px;
}

button.bi-arrow-repeat.active_repeat_button {
  background-color: #483a38;
}

.progress_bar_p::before {
  content: "";
  position: absolute;
  top: -10px;

  bottom: -10px;
  background: transparent;
}

.volume_slider_p {
  -webkit-appearance: none;
  height: 2px;
  position: relative;
  right: 50px;
  bottom: 20px;
  width: 10px;
  opacity: 1;

  max-height: 60px;
  z-index: 400;
}
.volume_slider_p::-moz-range-track {
  background: #3c3c3c;
  border-radius: 5px;
  height: 100%;
}

.volume_slider_p::-ms-track {
  background: #3c3c3c;
  border-radius: 5px;
  height: 100%;
  border-color: transparent;
}

.volume_slider_p::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2px;
  height: 12px;
  background: #666;
  cursor: pointer;
  margin-top: -5px;
}

.volume_slider_p::-moz-range-thumb {
  width: 2px;
  height: 12px;
  background: #666;
  cursor: pointer;
}

.btn_mute_p:hover + .volume_slider_p {
  opacity: 1;
  pointer-events: auto;
}

.options_menu_p {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #212223;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.options_menu_p button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
}

.speed_menu_p {
  display: none;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: #212223;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  z-index: 9;
}

.speed_menu_p button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
}

.custom_audio_player_p:hover .options_menu_p,
.custom_audio_player_p:hover .speed_menu_p {
  display: block;
}

.btn_repeat_p {
  background: transparent;
  border: none;
  color: rgb(179, 13, 13);
  right: 0px;
  bottom: 0px;
}
.btn_mute_p {
  position: absolute;
  background: transparent;
  border: none;
  color: white;
  right: 60px;
  bottom: 0px;
}

.custom_audio_player_p:hover .volume_slider_p {
  opacity: 1;
  pointer-events: auto;
}
.time_display_p {
  position: absolute;
  right: 150px;
  top: 0px;
  white-space: nowrap;

  text-overflow: ellipsis;
  font-size: 12px;
}
.btn_options_menu_p {
  position: absolute;

  right: -10px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  bottom: -5px;
}
.active_repeat_button {
  right: 80px;

  bottom: -7px;
}
.audio_repeat_button_p {
  right: 80px;

  bottom: -7px;
}
.progress_bar_p {
  position: absolute;

  width: calc(100% - 60px - 180px);
  margin-left: 80px;
  margin-right: 240px;
  margin-top: auto;
  margin-bottom: auto;

  bottom: 9px;
}
.reload_audio_player_p {
  position: absolute;
  bottom: 0px;
  left: 10px;
}
.switch_button {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1002;
}
.btn_info_p {
  position: relative;
  margin: 0;
}

.volume_slider_p {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;

  position: absolute;
  right: 6px;
  bottom: -6px;
  height: 50px;
  width: 22px;
  transform: rotate(-90deg);
  cursor: pointer;
  z-index: 1;
}

.volume_slider_p::-webkit-slider-runnable-track {
  height: 6px;
  width: 6px;
  border-radius: 4px;

  box-shadow: inset 0 0 4px #0009;

  background: repeating-linear-gradient(
    to right,
    #555,
    #555 2px,
    #333 2px,
    #333 4px
  );
}

.btn_info_p:hover + .info_popup_p {
  display: block;
}

.right_controls_group_p {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 5px;
  bottom: 10px;
  z-index: 20;
}
.custom_audio_right_group_p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  width: 78px;
  position: relative;
}

.right_controls_group_p input.volume_slider_p {
  transform: rotate(-90deg);
  width: 40px;
  height: 100px;
  margin-right: -30px;
  position: relative;
}

.right_controls_group_p .btn_repeat_p,
.right_controls_group_p .btn_options_menu_p,
.right_controls_group_p .btn_info_p {
  position: relative;
}
.btn_info_p,
.audio_repeat_button_p,
.info_button_audio_player {
  margin-bottom: -20px;
}
.btn_mute_p {
  margin-bottom: -10px;
}
.btn_options_menu_p {
  margin-bottom: -5px;
}

.info_popup_p {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(34, 34, 34);
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  display: none;
  white-space: nowrap;
  z-index: 1000;
}

.audio_info_p {
  display: none !important;
}
