@font-face {
  font-family: "Cormorant";

  src: url("../Fonts/Cormorant/Cormorant-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: dark;

  --titre-de-niveau-1: red;
  --titre-de-niveau-2: orange;
  --titre-de-niveau-3: #ff009d;
  --titre-de-niveau-4: #cf3eff;
  --titre-de-niveau-5: #9e5eff;

  --titre-de-niveau-6: #8a9fff;

  --h1-font-size: 181%;
  --h2-font-size: 141%;
  --h3-font-size: 121%;
}

.lien_all_title_1,
.lien_all_title_1 > a {
  color: var(--titre-de-niveau-1);

  margin-left: 50px;
  margin-top: 40px;
  font-size: var(--titre-de-niveau-1);
}

.lien_all_title_2 {
  color: var(--titre-de-niveau-2);

  margin-left: 40px;
  margin-top: 20px;
  font-size: var(--titre-de-niveau-2);
}

.titii {
  margin-top: 0px;
}

.lien_all_title_3 {
  color: var(--titre-de-niveau-3);

  margin-left: 30px;
  font-size: var(--titre-de-niveau-3);
}

.lien_all_title_4 {
  color: var(--titre-de-niveau-4);

  margin-left: 20px;
  font-size: var(--titre-de-niveau-4);
}

.lien_all_title_5 {
  color: var(--titre-de-niveau-5);

  margin-left: 10px;
  font-size: var(--titre-de-niveau-5);
}

.lien_all_title_6 {
  color: var(--titre-de-niveau-6);
}

.on_hover_lien_all_titles:hover {
}

.tytyu {
  line-height: 100%;
  padding-right: 50px;
}

.liste_tous_titres_class {
  border: 2px solid grey;

  z-index: 10000;
}

.first_paragraph_of_tous_les_titres {
  margin-top: -10px;
}

html {
  font-size: 104%;
  max-width: 98vw;
  width: 98vw;
  background-color: black !important;
  color: #eef7f8;

  scroll-behavior: auto !important;

  z-index: -10 !important;
  color-scheme: dark !important;
}

body {
  font-size: 104%;
  font-family: "Times New Roman", calibri, Abelone, Arial, serif;
  background-color: rgba(0, 0, 0, 0) !important;

  width: 84vw;

  scroll-behavior: auto !important;

  color: #eef7f8;

  padding-right: 15px !important;

  top: 100px;

  z-index: -2 !important;

  background: inherit !important;
}

* > span {
  font-size: 104%;
}

#wrapper_myPlayerID {
  position: fixed !important;
  top: 0px;
  z-index: 8000;
}

#controlBar_myPlayerID {
  position: fixed !important;
  bottom: 0px;
  z-index: 8000;
}

.modal-body {
  overflow-y: auto;
}

.modal-dialog {
}

.modal {
}

nav-item.dropup {
  background-color: black !important;
}

.list-group-item {
  background-color: black !important;
  color: white;
  border-color: blue;
}

.list-group {
  --darkreader-border--bs-list-group-active-border-color: var(
    --titre-de-niveau-3
  );
}

div › table › tbody › tr › td {
  font-size: 104%;
  font-family: "Times New Roman", calibri, Times, serif;
  background-color: black;
  color: #eef7f8;
}

.bg-primary-darkblue-colled,
.card,
.accordion {
  max-width: 80vw !important;
  background: inherit !important;
}

.accordion-button,
.accordion-item,
.accordion-header {
  background-color: #22222244 !important;
}

.accordion-body {
  background-color: #33333344 !important;
}

.bs_collapse_button_9_Apr_2023_4_31_606 {
  max-height: 60vh;
  overflow-y: auto;
}

.d-grid {
  margin-left: 5% !important;
}

.left_margin_for_multicollapse_row {
  margin-left: 60px !important;
}

.left_margin_for_multicollapse {
  margin-left: 3% !important;
}

.card_max_60vh_overflow_auto {
  max-height: 40vh !important;
  overflow-y: auto !important;
}

.modal_occident {
  background-color: rgb(0, 132, 255) !important;
}

.modal_orient {
  background-color: rgb(204, 10, 10) !important;
}

.list-group {
  margin-left: 40px;
}

.main-inner .date-outer {
  margin-bottom: 2em;
}

.header-inner .Header .titlewrapper,
.header-inner .Header .descriptionwrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.Header .description {
  font-size: 130%;
}

.tabs-inner {
  margin: 1em 0 0;
  padding: 0;
}

.tabs-inner .section {
  margin: 0;
}

.tabs-inner .widget li {
  border: none;
}

.footer-inner .widget h2,
.sidebar .widget h2 {
  padding-bottom: 0.5em;
}

.main-inner .column-left-inner,
.main-inner .column-right-inner {
  padding: 15px 0;
}

body {
  line-height: 1.4;
}

header {
  margin: 0 0 1em;
  line-height: 1.6;
}

footer {
  margin: 0.5em 0;
  line-height: 1.6;
}

#blog-pager {
  font-size: 140%;
}

#comments .comment-author {
  padding-top: 1.5em;
}

#comments .comment-author:first-child {
  padding-top: 0;
  border-top: none;
}

.avatar-image-container {
  margin: 0.2em 0 0;
}

.comments .comments-content .icon.blog-author {
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
}

.sidebar .widget:first-child {
  margin-top: 0;
}

.sidebar .widget:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

body.mobile {
  background-size: 104% auto;
}

body.mobile .AdSense {
  margin: 0 -10px;
}

a {
  color: #79f7f7;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

#documentTitle {
  margin: 0px 0px 20px 0px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: normal !important;
  font-family: "Times New Roman", calibri, Abelone, Arial;
  font-family: "Times New Roman", calibri, Times, serif !important;
  line-height: 1;
  padding-bottom: 0px;

  margin: 60px 0px 0px 7%;
  color: red;
}

h1 + p {
  margin-left: 60px;
}

h1 > a {
  font-size: 200%;
  font-weight: normal !important;
  font-family: "Times New Roman", calibri, Abelone, Arial;
  line-height: 1;
  padding-bottom: 0px;

  margin: 60px 0px 0px 7%;
  color: red;
  text-decoration: none;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: normal !important;
  font-family: "Times New Roman", calibri, Abelone, Arial;
  margin: 0px 0px 0px 2%;
  color: var(--titre-de-niveau-2);

  visibility: visible !important;
}

h2 > a {
  font-size: var(--h2-font-size);
  font-weight: normal !important;
  font-family: "Times New Roman", calibri, Abelone, Arial;
  padding-bottom: 0px;
  margin: 0px 0px 0px 2%;
  color: var(--titre-de-niveau-2);
  text-decoration: none;
}

h1 + h2 {
  font-size: var(--h2-font-size);
  font-weight: normal !important;
  font-family: "Times New Roman", Abelone, Arial;
  margin: 0px 0px 0px 2%;
  color: var(--titre-de-niveau-2);

  visibility: visible !important;
}

*:not(h1) + h2 {
  font-size: var(--h2-font-size);
  font-weight: normal !important;
  font-family: "Times New Roman", Abelone, Arial;
  margin: 0px 0px 0px 2%;
  color: var(--titre-de-niveau-2);

  visibility: visible !important;
}

.class_between_h1_and_h1 + .stop + .capsule_dun_h2 + h2 {
  padding: 0px 0px 0px -20px !important;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: normal !important;
  text-align: left;
  font-family: "Times New Roman", calibri, Abelone, Arial, serif;
  margin: 0px 0px 0px 0%;
  color: var(--titre-de-niveau-3);
}

*:not(h2) + h3 {
  font-size: var(--h3-font-size);
  font-weight: normal !important;
  font-family: "Times New Roman", Abelone, Arial;
  margin: 40px 0px 0px 0% !important;
  color: var(--titre-de-niveau-3);
}

h2 + h3 {
  font-size: var(--h3-font-size);
  font-weight: normal !important;
  text-align: left;
  font-family: "Times New Roman", calibri, Abelone, Arial, serif;
  margin: 0px 0px 0px 0%;
  color: var(--titre-de-niveau-3);
}

p + div + h3,
p + h3 {
  font-size: var(--h3-font-size);
  font-weight: normal !important;
  text-align: left;
  font-family: "Times New Roman", calibri, "Times New Roman", Abelone, Arial,
    serif;
  margin: 0px 0px 0px 0%;
  color: var(--titre-de-niveau-3);
}

h2 + div + h3 {
  font-size: var(--h3-font-size);
  font-weight: normal !important;
  text-align: left;
  font-family: "Times New Roman", calibri, "Times New Roman", Abelone, Arial,
    serif;
  margin: 0px 0px -0px 0%;
  color: var(--titre-de-niveau-3);
}

h4 {
  font-size: 111%;
  font-weight: normal !important;
  font-family: "Times New Roman", Abelone, Arial;
  margin: 20px 0px 0px 0%;
  color: var(--titre-de-niveau-4);
}

h3 + h4 {
  font-size: 111%;
  font-weight: normal !important;
  font-family: "Times New Roman", Abelone, Arial;
  margin: 0px 0px 0px 0%;
  color: var(--titre-de-niveau-4);
}

*:not(h3) + h4 {
  font-size: 111%;
  font-weight: normal !important;
  font-family: "Times New Roman", Abelone, Arial;
  margin: 0px 0px 0px 0%;
  color: var(--titre-de-niveau-4);
}

h3 + div + h4 {
  font-size: 111%;
  font-weight: normal !important;
  text-align: left;
  font-family: "Times New Roman", calibri, "Times New Roman", Abelone, Arial,
    serif;
  margin: 0px 0px 0px 0%;
  color: var(--titre-de-niveau-4) !important;
}

h5 {
  color: var(--titre-de-niveau-5);
  font-family: "Times New Roman", Abelone, Arial;
  font-size: 104%;

  line-height: 1;

  margin: 3px 50px 3px 0%;
}

h4 + h5 {
  color: var(--titre-de-niveau-5);

  font-family: "Times New Roman", Abelone, Arial;
  font-size: 104%;

  line-height: 1;
  margin: 0px 0px 0px 0% !important;
}

*:not(h4) + h5 {
  color: var(--titre-de-niveau-5);

  font-family: "Times New Roman", Abelone, Arial;
  font-size: 104%;

  line-height: 1;
  margin: 0px 0px 0px 0% !important;
}

h6 {
  font-size: 100%;
  font-weight: normal !important;
  font-family: "Times New Roman", calibri, Abelone, Arial;

  margin: 0px 0px 0px 0% !important;

  color: var(--titre-de-niveau-6);
}

h5 + h6,
h5 + [id^="mce"] > h6:nth-child(n) {
  color: var(--titre-de-niveau-6);

  font-family: "Times New Roman";

  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0px 0px 0% !important;
}

*:not(h5) + h6,
*:not(h5) + [id^="mce"] > h6:nth-child(n) {
  color: var(--titre-de-niveau-6);

  font-family: "Times New Roman", Abelone, Arial;

  font-size: 100%;

  line-height: 1;
  margin: 20px 0px 0px 0% !important;
}

h7.post-title {
  margin-top: 20px;
}

h7.post-title a:hover {
  text-decoration: underline;
}

* > afterbody_beforehtml > div > div > a:nth-child(n) > picture > img {
  filter: brightness(50%);
}

* > afterbody_beforehtml > div > div > a:nth-child(n) > picture > img:hover {
  filter: brightness(150%);
}

h7,
.grand_titre {
  color: #ffffff;
  text-align: center !important;

  font-family: "Times New Roman", calibri, Abelone, Arial, serif;
  margin-top: 110px;
  padding-bottom: 50px;
  position: sticky;
  top: 0px;

  z-index: 490;
  display: block;

  left: 0vw;
  width: 100%;
  margin-bottom: 80px;
  z-index: 120 !important;
  font-size: 140% !important;
  max-height: 12px !important;
  position: relative;
}

li {
}

ul li {
}

* > ol > li:nth-child(n) {
  margin: 0px 0px 0px 40px;
}

div ›div › ul › li {
  font-size: 104%;
  font-family: "Times New Roman", calibri, "Times New Roman", Times, serif !important;
}

div > ul > li {
  font-size: 104%;
  font-family: "Times New Roman", calibri, Times, serif !important;
}

* > td:nth-child(n) > p:nth-child(n) {
  text-align: center;
  margin: 0px 0px 10px 0px !important;
}

* > td > p:nth-child(n),
* > p + div {
  margin: 0px 0px 0px 0px !important;
}

.d-grid,
.row {
  max-width: 96%;
}

figure.image figcaption {
  padding: -20px 0px 0px 0px;
  text-align: center;
  font-size: 16px;
  background-color: #4e4e4ea4;
}

figure:where([style*="float: left"]) {
  margin-right: 40px !important;
}
figure:where([style*="float: right"]) {
  margin-left: 20px !important;
}

figure.align-right,
figure.image.align-right {
  margin-right: 50px;
}

figure.align-right > figcaption,
figure.image.align-right > figcaption {
  margin-left: 25px;
  font-size: 90%;
  margin-right: -15px;
}

figure.align-left,
figure.image.align-left {
  margin-right: 50px;
}

figure.align-left > figcaption {
  margin-left: 30px;

  font-size: 90%;
}

ul {
  margin: 0px 0px 0px 10px;
}

tabs-outer {
  z-index: 9000;
}

td {
  color: white;
}

.tabs .widget ul {
  overflow: visible;
}

anchor {
  scroll-margin-top: 300px;
}

.scroll_margin_top_200px {
  scroll-margin-top: 1000px;
  overflow: visible;
}

#example1 {
  float: left;
}

#example2 {
  float: right;
}

@media print {
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
}

.blink_me {
  animation: blinker 6s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink_me_quick {
  animation: blinker_quick 2s linear infinite;
}

@keyframes blinker_quick {
  50% {
    opacity: 100;
    color: white;
  }
}

.blink_me_quick_white {
  -webkit-animation: blinker_quick_white 1s linear infinite;
  -moz-animation: blinker_quick_white 2s linear infinite;
  -ms-animation: blinker_quick_white 2s linear infinite;
  -o-animation: blinker_quick_white 2s linear infinite;
  animation: blinker_quick_white 2s linear infinite !important;
}

@keyframes blinker_quick_white {
  0% {
    opacity: 100;
    color: white !important;
  }

  50% {
    opacity: 0;
    color: rgb(252, 3, 3) !important;
  }

  104% {
    opacity: 100;
    color: rgb(252, 3, 3) !important;
  }
}

figure:has(.image_outside_td_and_float_left) {
  float: right;
}
figure:has(.image_outside_td_and_float_right) {
  float: right;
}

[id^="audio_figcaption"],
.new_audio {
  color: #00da04 !important;
  font-size: 90%;
  margin-left: 40px;
}

* > figure > span > audio {
  max-width: 80vw !important;
  height: 30px;
}

[id^="bs_collapse_button"]
  > div
  > div.table1
  > table
  > tbody
  > tr
  > td
  > p:nth-child(n)
  > span
  > audio {
  max-width: 60vw !important;
}

figure video {
  width: 75%;
  height: auto;
  display: inline-block;
}

.current {
  background: hsl(45, 80%, 50%);
  color: #000;
}

.force-overflow1 {
  max-height: 250px;
  background: var(--titre-de-niveau-3);
  overflow-y: auto;
}

div::-webkit-scrollbar {
  width: 12px;
}

div::-webkit-scrollbar-button {
  background: rgb(14, 13, 8);
}

div::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
  background: rgb(102, 111, 175);
}

div::-webkit-scrollbar-track {
  background: rgb(1, 1, 1);
  border-radius: 10px;
}

div::-webkit-scrollbar-corner {
  background: #121;
}

div::-webkit-resizer {
  background: rgb(57, 161, 68);
}

[id^="player"] {
  background-color: black;
  overflow-y: auto;

  margin: 0px;
  z-index: 100;
}

[id^="chapters"] {
  background-color: black;
  overflow-y: auto;

  z-index: 100;
}

[id^="video"],
[id^="video"]:hover {
  background-color: black;
  overflow-y: auto;

  margin: 0px;
  z-index: 100;
}

[id^="transcriptdiv"] {
  position: relative;
  margin: 0px;
  z-index: 100;
  overflow-y: auto;
}

body > div:nth-child(n) > div.tox-editor-container {
  margin: 0px;
  z-index: 200;
}

body > div.tox.tox-tinymce.tox-tinymce-inline.tox-tinymce--toolbar-sticky-off {
  margin: 0px;
  z-index: 2000;
}

.tox-tinymce {
  margin: 0px;
  z-index: 2000;
}

.tox-dialog {
  z-index: 2000 !important;
}

[id^="dialog-describe"] {
  z-index: 2000 !important;
}

#chapters2 > nav > ul > * > hover {
  background-color: rgb(130, 121, 191);
}

*[contentEditable="true"]:focus,
*[contentEditable="true"]:hover {
  outline: 0px solid #000353 !important;
}

* > div.tox-dialog-wrap__backdrop {
  z-index: 9999 important;
}

#demo_0 {
  font-size: 120%;
}

#movie_player > a.ytp-watermark.yt-uix-sessionlink {
  z-index: 3000 important;
}

.bi::before {
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

div.tox-editor-container > * {
  z-index: 90000 !important;
}

#background-video {
  width: 640px;
  height: 360px;
  position: relative;
}

#background-video iframe {
  width: 104%;
  height: 104%;
  display: none;
}

#background-video .play-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 104%;
  height: 104%;
  font-size: 0px;
  line-height: 0px;
  background: url(http://www.legacycitychurch.com/media/cover_art/Play%20Button%20Overlay/playbutton.png)
    center center no-repeat;
  background-size: 120px auto;
}

.content_visibility_auto {
  content-visibility: auto;

  contain-intrinsic-height: 1000px;
}

.right_dynamic_menu {
  color: white !important;
  font-size: 20px;
  text-align: center;

  max-width: 12vw;
  position: fixed;
  top: 110px;

  right: 40px;

  max-height: 40vh;
}

#dinamicMenu {
  top: 114px;
  max-height: 80vh !important;
  display: block;
  position: fixed;
  right: 50px;
}

.dynamicContentMenu {
  width: 10vw;
  max-height: 80%;
  overflow-y: auto;

  position: fixed;
}

a {
  word-break: break-all;
}

.dynamicContentMenu > ul > li > a {
  word-break: normal;
}

* > table > tbody > tr > td:nth-child(n) > ul > li:nth-child(n) > a {
  word-break: break-all;
}

.table_outside_a_table_and_outside_card {
  margin-left: auto;
  margin-right: auto;
}

.card p {
  margin-left: -10px !important;
}

.modal blockquote {
  margin-left: 0px !important;
}

.modal-body blockquote {
  margin-left: 0px !important;
}

.modal-body p {
  margin-left: 0px !important;
}

lite-youtube {
  background: black;
  content-visibility: auto;

  contain-intrinsic-height: 500px;
}

.float-end {
  margin-left: 0px !important;
}

.table_float_end {
  margin-left: 30px !important;
}

.table_float {
  display: inline;
}

.float-start {
  margin-right: 1% !important;
}

.table_float_start {
  margin-bottom: 20px;
}

.blockquote_inside_a_table {
  margin-left: 0px;
  margin-left: auto;

  margin-right: auto;
}

.modal {
  max-height: 96vh;
}

* > .modal-header {
  position: sticky;
  top: 0px !important;
  z-index: 8200 !important;

  background-color: rgb(0, 0, 0) !important;
}

.table_inside_card_or_accordion_or_modal_or_row {
  margin-left: auto;
  margin-right: auto;
}

.table_inside_a_table {
  margin-left: auto;
  margin-right: auto;
}

.div_with_table_inside_card_or_accordion_or_modal_or_row {
  margin-left: auto;
  margin-right: auto;
}

.div_with_table_inside_a_table {
  margin-left: auto;
  margin-right: auto;
}

.div_with_table_outside_a_table_and_outside_card {
  word-wrap: break-word;
}

.test2 {
  margin: 0px 25px 0px 60px !important;
  max-height: 70vh;
  overflow-y: auto;
  position: sticky;
  top: 100px;
}

table {
}

td {
  z-index: 20 !important;
}

thead > tr > td {
  padding-top: 10px;
}

*:not(.modal-body) > thead {
  line-height: 1;
  position: sticky;

  top: 110px;
  padding-bottom: 40px !important;
  margin-bottom: 40px !important;
  font-size: 17px;

  font-weight: 550;

  z-index: 40;
}

* > thead > th:first-child {
  border: 3px solid #ef8e8e;
}

tbody,
table,
thead,
tr,
td,
colgroup {
  max-width: 84vw !important;
}

.margin_as_p_removed {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

audio::-webkit-media-controls-panel {
  background-color: #003469;
}

audio::-webkit-media-controls-mute-button {
  background-color: #010203;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(2, 5, 7, 0.7);
}

audio::-webkit-media-controls-timeline {
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.grey_background {
  border: 3px solid #ff0000;
}

.grey_background_h2_1 > li {
  background-color: rgba(154, 0, 0, 0.333) !important;
}

.grey_background_h2_2 > li {
  background-color: rgba(0, 154, 5, 0.333) !important;
}

.img_without_margin {
  margin-left: 5px;
}

.class_menu_just_next_h1 {
  background: inherit !important;

  margin-right: -5vw;
  width: 104%;
  max-height: 50px;
  border-radius: 10%;
  position: sticky;
  top: 30px;
  overflow-y: auto;
  left: 0%;
  z-index: 92 !important;
}

.class_between_h1_and_h1 {
  background: inherit !important;
}

.background_class_horizontal_heading {
  overflow: visible !important;
  white-space: nowrap !important;

  position: fixed;
  top: 0px;

  background: inherit;

  height: 120px;

  width: 100%;

  z-index: 100;
}

.top_button {
  position: fixed;
  top: 0px;
  right: 1vw;
  max-width: 3vw;
  z-index: 70000;
}

.button_h1 {
  position: fixed;
  top: 5px;
  right: 4px;
  width: 1%;
  background-color: black;
  --darkreader-inline-bgcolor: #000000;
  z-index: 8000 !important;
}

.button_h2 {
  position: fixed;
  top: 40px;
  right: 4px;
  width: 1%;
  background-color: black;
  --darkreader-inline-bgcolor: #000000;
  z-index: 8000 !important;
}

.image_outside_td_and_float_right,
.image_outside_td_and_float_left {
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.breadcrumb {
  min-height: 50px;

  z-index: 250 !important;
}
.gfre {
}

#breadcrumb {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.12) 10%,
    transparent 10%
  );
  background-size: 25px 25px;
  display: block;

  min-height: 120px;

  z-index: 210 !important;

  max-height: 60px !important;
  position: sticky;
  top: 0px;
  left: 20px;
  max-width: 76vw;

  opacity: 1;
  z-index: 5000;
}

#breadcrumb > ul {
  max-width: 80px;
}

.lt-comp-card-base {
  background-color: green !important;
}

blockquote table {
  margin-left: 0px !important;
}

blockquote,
blockquote > *:empty,
blockquote > p,
* > blockquote > p {
  font-family: "Times New Roman", calibri, Times, serif !important;
  border-radius: 2%;
}

blockquote > p {
  padding-left: 10px;
}

.probable_non_citation_de_Dieu,
.probable_non_citation_de_Dieu > p {
  color: #55ff55 !important;
  font-style: italic;
}
.probable_non_citation_de_Dieu {
  border-left: 4px solid rgb(85, 255, 85) !important;
  font-style: italic;
}
* > .probable_non_citation_de_Dieu > p > span {
  color: rgb(40, 217, 0);
}
.probable_non_citation_de_Dieu {
  display: inline-block;
  border-left: 4px solid rgb(85, 255, 85) !important;
  font-style: italic;
  padding-left: 10px;
  border-radius: 20px;

  overflow: hidden;
}
.probable_citation_du_Père {
  border-left: 4px solid #ff2e2e !important;
  font-style: italic;
  color: #ff2e2e !important;
  padding-left: 10px;
  border-radius: 20px;
}

.probable_citation_du_Fils {
  border-left: 4px solid yellow !important;
  font-style: italic;
  color: yellow !important;
  padding-left: 10px;
  border-radius: 20px;
}
.probable_citation_du_Saint-Esprit {
  border-left: 4px solid white !important;
  font-style: italic;
  color: white !important;
  padding-left: 10px;
  border-radius: 20px;
}
.probable_citation_de_la_Mère {
  border-left: 4px solid #ff4ff6 !important;
  font-style: italic;
  color: #ff4ff6 !important;
  padding-left: 10px;
  border-radius: 20px;
}
.class_citation_standard {
  border-left: 4px solid #55ff55 !important;
  font-style: italic;
  color: #55ff55;
  padding-left: 10px;
  border-radius: 20px;
}

.probable_citation_de_Dieu {
  display: inline-block;

  border-left: 4px solid #fbff00 !important;
  font-style: italic;
  color: #fbff00;
  padding-left: 10px;

  border-radius: 20px;

  overflow: hidden;
}

.probable_citation_de_Dieu > p > * {
  font-style: italic;
}

* > .probable_citation_de_Dieu > p > span {
  color: #fbff00;
  font-style: italic;
}

.probable_citation_de_Dieu > * {
  font-style: italic;
  color: #fbff00;
  font-family: "times new roman", cursive !important;

  font-size: 17px !important;
}

.probable_citation_du_Père {
  border-left: 4px solid red !important;
  font-style: italic;
  color: red;
}

.probable_citation_du_Père > p > * {
  font-style: italic;
}

* > .probable_citation_du_Père > p > span {
  color: red;
  font-style: italic;
}

.probable_citation_du_Père > * {
  font-style: italic;
  color: red;
  font-family: "times new roman", cursive !important;
  font-size: 17px !important;
}

* > p > span {
  color: white;
}

article,
.soixantepx_add {
}

.div_for_modal_wikipedia {
  padding-left: -60px;
  padding-right: -60px;
}

.div_for_modal_for_link_outside_modal {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.class_between_h7_and_h1 {
  margin-left: 60px;
}

.div_around_iframe {
  border-radius: 10%;
  z-index: 1 !important;
}

.div_for_modal_for_link_outside_modal > a {
  margin-left: -5px;
  margin-right: -7px;

  color: inherit;

  border-radius: 10%;
  background-color: rgba(128, 128, 128, 0.548);
}

.bi-x-lg {
  position: absolute;
  right: 1%;
}

.bg_primary_darkblue_colled_historique1 {
  --bs-btn-hover-bg: #158b0090;

  --bs-nav-pills-link-active-bg: #158b0090;
  --bs-btn-active-border-color: transparent;

  border: 1px dotted grey !important;
}

.bg_primary_darkblue_colled_historique2 {
  --bs-btn-hover-bg: #484a48;
  --bs-btn-disabled-border-color: #00ff00;
  --bs-nav-tabs-border-color: #ff0000;
  border-width: 0 !important;

  --bs-nav-tabs-link-active-bg: #484a48;

  --bs-nav-pills-link-active-bg: #484a48;
  --bs-btn-active-border-color: transparent;
  border: 1px dotted grey !important;
}

.bg_primary_darkblue_colled_historique3 {
  --bs-btn-hover-bg: #8c8a00;

  --bs-nav-tabs-link-hover-border-color: red;

  --bs-nav-tabs-link-active-bg: red !important;

  --bs-nav-pills-link-active-bg: rgba(255, 255, 0, 0.596);
  --bs-btn-active-border-color: transparent;

  border: 1px dotted grey !important;
}

.bg_primary_darkblue_colled_historique4 {
  --bs-btn-hover-bg: #0083a1;
  --bs-nav-tabs-link-hover-border-color: red;
  --bs-nav-tabs-link-active-bg: red !important;
  --bs-nav-pills-link-active-bg: #0083a1;
  --bs-btn-active-border-color: transparent;
  border: 1px dotted grey !important;
}
.bg_primary_darkblue_colled_historique5 {
  --bs-btn-hover-bg: #5c220080;
  --bs-nav-tabs-link-hover-border-color: red;
  --bs-nav-tabs-link-active-bg: red !important;
  --bs-nav-pills-link-active-bg: #5c220080;
  --bs-btn-active-border-color: transparent;
  border: 1px dotted grey !important;
}

.bg_primary_darkblue_colled_historique7 {
  --bs-btn-hover-bg: #484a48;
  --bs-btn-disabled-border-color: #00ff00;
  --bs-nav-tabs-border-color: #ff0000;
  border-width: 0 !important;
  --bs-nav-tabs-link-active-bg: #484a48;
  --bs-nav-pills-link-active-bg: #484a48;
  --bs-btn-active-border-color: transparent;
  border: 1px dotted grey !important;
}

.bg_primary_darkblue_colled_historique8 {
  --bs-btn-hover-bg: #0083a18c;
  --bs-nav-tabs-link-hover-border-color: red;
  --bs-nav-tabs-link-active-bg: red !important;
  --bs-nav-pills-link-active-bg: #0083a18c;
  --bs-btn-active-border-color: transparent;
  border: 1px dotted grey !important;
}

.bg_primary_darkblue_colled_historique9 {
  --bs-btn-hover-bg: #7300d88c;
  --bs-nav-tabs-link-hover-border-color: red;
  --bs-nav-tabs-link-active-bg: red !important;
  --bs-nav-pills-link-active-bg: #7300d88c;
  --bs-btn-active-border-color: transparent;
  border: 1px dotted grey !important;
}

.bg_primary_darkblue_colled_historique10 {
  --bs-btn-hover-bg: #84848444;
  --bs-nav-tabs-link-hover-border-color: red;
  --bs-nav-tabs-link-active-bg: red !important;
  --bs-nav-pills-link-active-bg: #84848444;
  --bs-btn-active-border-color: transparent;
  border: 1px dotted grey !important;
}
.bg_primary_darkblue_colled_historique11 {
  --bs-btn-hover-bg: #00b5a07a;
  --bs-nav-tabs-link-hover-border-color: red;
  --bs-nav-tabs-link-active-bg: red !important;
  --bs-nav-pills-link-active-bg: #00b5a07a;
  --bs-btn-active-border-color: transparent;
  border: 1px dotted grey !important;
}

.volet_historique_tiny_class,
.offcanvas-header,
.offcanvas-body,
.offcanvas-header {
  background-color: #48495050 !important;
}

.class_pour_la_partie_historique_de_toutes_les_pages {
  margin-right: 30px;
  margin-left: 20px;
}

.h_citation {
  color: rgb(0, 255, 0) !important;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}
.h_nouvelle_image_svg {
  color: rgb(255, 106, 0) !important;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}
.h_image_svg {
  color: rgb(255, 106, 0) !important;
}

.nouvelle_image_svg_ {
  line-height: 10% !important;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}

.h_partie {
  border: 1px solid rgb(109, 109, 109) !important;
  background-color: #89898944 !important;
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}
.h_titre {
  color: rgb(202, 202, 202) !important;
}

.h_audio {
  background-color: rgb(70, 70, 70) !important;
}

.h_nouvelle_vidéo {
  color: rgb(255, 0, 0) !important;

  text-shadow: 0 0 4px rgb(0, 0, 0);
}

.h_table {
  background-image: linear-gradient(to right, #7d7d7d 1px, transparent 1px),
    linear-gradient(to bottom, #7d7d7d 1px, transparent 1px);
  background-size: 50px 20px;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}

.volet_historique_tiny_class [class^="modified_parts"]:nth-child(2n + 1) {
  border: 1px solid #ffffff10 !important;
  border-radius: 6%;
  margin-bottom: 20px;
}

[class^="news_parts"]:nth-child(2n + 1) {
  border: 1px solid rgb(0, 159, 156) !important;
  border-radius: 1%;
  margin-bottom: 20px;
  background-color: #004f4c40;
}
[class^="news_parts"]:nth-child(2n) {
  border: 1px solid #84ff00 !important;
  border-radius: 1%;
  margin-bottom: 20px;
  background-color: #84ff0050 !important;
}

[class^="modified_parts"]:nth-child(2n + 1) {
  border: 2px solid #888888 !important;
  border-radius: 1%;
  margin-bottom: 20px;

  background-color: #ffffff30;
}
[class^="modified_parts"]:nth-child(2n) {
  border: 1px solid #000000 !important;
  border-radius: 1%;
  margin-bottom: 20px;

  background-color: #00000070 !important;
}
.text-bg-primary {
  background-color: #009a05 !important;
}

.volet_historique_tiny_class [class^="modified_parts"]:nth-child(2n + 1) {
  border: 1px solid rgb(0, 84, 82) !important;
  border-radius: 1%;
  margin-bottom: 20px;
  display: block;
  max-width: 22vw;
  word-break: break-all;
}

.deuxieme_coquille_top_button [class^="modified_parts"] {
  width: 50vw;
  max-width: 62vw !important;

  white-space: normal;
}
.deuxieme_coquille_top_button [class^="news_parts"] {
  width: 50vw;
  max-width: 62vw !important;

  white-space: normal;
}

.volet_historique_tiny_class [class^="modified_parts"]:nth-child(2n + 0) {
  border: 1px solid rgb(63, 122, 0) !important;
  border-radius: 1%;
  margin-bottom: 20px;
  display: block;
  max-width: 22vw;
  word-break: break-all;
}

.bcLevel2:nth-child(2n + 1) {
  padding-left: 20px;

  margin-bottom: 20px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
article > .bcLevel2:nth-child(2n + 2) {
  margin-bottom: 20px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
article {
  margin-left: 4vw;
}

.bcLevel2 {
  position: relative;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid var(--titre-de-niveau-2);
  border-top-left-radius: 10px;
  padding-top: 5px;
}

.bcLevel2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 14px;
  width: 8vw;
  height: 0.5px;
  background-color: var(--titre-de-niveau-2);
}

.bcLevel2.bordures-cachees::before {
  background-color: transparent;
}
.bcLevel3.bordures-cachees::before {
  background-color: transparent;
}

.bcLevel2 {
  border-left: 1px solid var(--titre-de-niveau-2);
}

.bcLevel3:nth-child(2n + 1) {
  margin-bottom: 20px;
  margin-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 40px;
}
.bcLevel3:nth-child(2n + 2) {
  margin-bottom: 20px;
  margin-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 40px;
}

.bcLevel3 {
  position: relative;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid var(--titre-de-niveau-3);
  border-top-left-radius: 10px;
  padding-top: 5px;
}

.bcLevel3::before {
  content: "";
  position: absolute;
  top: 0;

  left: 14px;
  width: 7vw;
  height: 0.5px;
  background-color: var(--titre-de-niveau-3);
}

.un_conserve_top_l_case {
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 10000;
}

.class_pour_la_partie_historique_de_toutes_les_pages,
.news_parts_histo_div_for_this_page,
.modified_parts_pills,
.historique_des_modifs_pour_cette_page,
.div_news_parts_histo_for_this_page,
#this_page_pills_tab,
.nifo_tab_histo,
#modified_parts_pills {
  margin-right: 30px !important;
  font-size: 100% !important;
  word-break: break-word;
}

.offcanvas {
  width: 30vw !important;
}

.bi2-x-lg {
  position: absolute;
  right: 1%;
  bottom: 20px;
}

#teaser {
  display: none !important;
}

.pour_titres_du_modal_source {
}

.p_ttes_pages:nth-child(2n + 1),
.p_this_page:nth-child(2n + 1),
.p_histo_info:nth-child(2n + 1) {
  background-color: rgba(58, 58, 58, 0.454) !important;
}
.p_ttes_pages:nth-child(2n),
.p_this_page:nth-child(2n),
.p_histo_info:nth-child(2n) {
  border: 1px solid #f5fddc;
}

.titre {
  color: white !important;

  word-break: break-word;

  right: 80px;
  max-width: 12vw;
}

#movie_player
  > div.ytp-chrome-top.ytp-show-cards-title
  > div.ytp-title-channel {
  display: none !important;
}
#teaser {
  display: none !important;
}

.MuiGrid-root {
  background-color: black !important;
  color: #fff;
}

.table_float_end {
  margin-right: 1%;
}
.table_float_start {
  margin-left: 1%;
}
.icon_on_top:hover,
.btn_bordures:hover,
.b_bas:hover,
.b_haut:hover {
  border: 1px dotted yellow;
}
.b_bas,
.button_h2 {
}

section + section {
  margin-top: 30px;
}
p + section {
  margin-top: 30px;
}

thead {
  border-collapse: separate !important;
  border-spacing: 10px;
}

thead > tr:first-child {
}
thead > tr:last-child {
}

video {
}

.modal-content {
  border: 1px dashed grey;
  max-height: 88vh !important;
}

.zoomist-container {
  background-color: #003469 !important;
}

.zoomist-image {
  width: 100%;

  aspect-ratio: 1;
  background-color: black !important;
}

.zoomist-image img {
  width: 100% !important;
}

.zoomist-zoomer {
  max-width: 18%;
}

.button_h2,
.button_h1 {
}

.image_autumn0 {
  width: 100vw;
  display: none;
  animation: anim 20s ease-in-out infinite;
  transform: translateY(-120%) rotate(0deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  position: fixed;
}

.image_autumn1 {
  width: 100vw;
  display: none;
  animation: anim2 18s ease-in-out infinite;
  transform: translateY(-120%) rotate(0deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  position: fixed;
}

.image_autumn3 {
  width: 100vw;
  display: none;

  animation: anim3 15s linear infinite;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.image_autumn4 {
  width: 100vw;
  display: none;

  animation: anim7 115s linear infinite;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.image_autumn {
  z-index: 20000;
  cursor: pointer;
}
.n1 {
  animation-delay: 0s;
  width: 40%;
  height: auto;
}
.n2 {
  animation-delay: 0.2s;
  width: 40%;
  height: auto;
}
.n3 {
  animation-delay: 3s;
  width: 20%;
  height: auto;
}
.n4 {
  animation-delay: 1.4s;
  width: 20%;
  height: auto;
}
.n5 {
  animation-delay: 2.4s;
  width: 20%;
  height: auto;
}
.n6 {
  animation-delay: 0s;
  width: 20%;
  height: auto;
}
.n7 {
  animation-delay: 0.5s;
  width: 20%;
  height: auto;
}
.autumn {
}

@keyframes anim {
  0% {
    transform: translateY(-100%) translateX(300%) rotate(0deg);
  }
  100% {
    transform: translateY(70vh) translateX(-100%) rotate(-360deg);
  }
}

@keyframes anim2 {
  0% {
    transform: translateY(10%) translateX(-50%) rotate(-360deg);
  }
  100% {
    transform: translateY(70vh) translateX(300%) rotate(0deg);
  }
}

@keyframes anim3 {
  0% {
    transform: translateY(-10%) translateX(100%) rotate(0deg);
  }
  20% {
    transform: translateY(20%) translateX(102%) rotate(1deg);
  }
  40% {
    transform: translateY(40%) translateX(100%) rotate(0deg);
  }
  60% {
    transform: translateY(60%) translateX(102%) rotate(1deg);
  }
  80% {
    transform: translateY(80%) translateX(100%) rotate(0deg);
  }
  100% {
    transform: translateY(100%) translateX(101%) rotate(1deg);
  }
}

@keyframes anim7 {
  0% {
    transform: translateY(40%) translateX(0%) rotate(0deg);
  }
  100% {
    transform: translateY(105%) translateX(0%) rotate(0deg);
  }
}

.overflow_and_max_height {
  max-height: 80vh;
  overflow: auto;
}

.btn_video_background {
  margin-left: -0.25rem !important;

  margin-top: 1px !important;
  margin-bottom: 1px !important;
  background-color: grey;
}

.bcLevel3 {
  padding-left: 10px;
}

.bcLevel4 {
  padding-left: 20px;
}
.bcLevel5 {
  padding-left: 30px;
}
.bcLevel6 {
  padding-left: 40px;
}

#breadcrumb > ul {
  z-index: 310 !important;
}

tbody:before {
  content: "@";
  display: block;
  line-height: 4px;
  text-indent: -99999px;
}

.table_outside_a_table_and_outside_card margin_left_2 {
  margin-top: 200px;
}

.playing_audio {
  background-color: green;
  background-image: url("../Images/pause_with_cassette6.svg");
  background-size: 30px !important;
  background-position: center;
  background-repeat: no-repeat;
  color: #2e0000 !important;
  background-color: #480000 !important;
}
.paused_audio {
  color: rgb(7, 40, 0) !important;
  background-color: rgb(10, 63, 0) !important;
  background-image: url("../Images/play_with_cassette2.svg");
  background-size: 30px !important;
  background-position: center;
  background-repeat: no-repeat;
}

.arrows_collapse_img {
  background-image: url("../Images/arrows-collapse.png");

  background-position: center;
  background-repeat: no-repeat;
}

.cassette_icon {
  width: 30px;
  height: 30px;
  background-color: red;

  background-image: url("../Images/cassette.svg");

  background-position: center;
  background-repeat: no-repeat;
}

.btn.bi-cassette,
.btn.bi-arrows-collapse,
.btn:hover.bi-cassette,
.btn:hover.bi-arrows-collapse {
  color: inherit;
}

.animation-container {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  + p::before,
  + figure + p::before,
  + .table_float_end + p::before,
  + .table_float_start + p::before,
  + .div_with_table_outside_a_table_and_outside_card + p::before {
    content: "";
    display: inline-block;
    width: 30px;
  }
}

.dynamicContentMenu__header:nth-child(2n + 1) {
  background-color: rgba(158, 158, 158, 0.154) !important;
}

.zoomist-wrapper {
  background-color: #000353;
}

.animation-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  cursor: grab;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;

  width: 94%;
  margin-left: 60px;

  z-index: 90 !important;
}

.animation-container-wrapper {
  position: relative;

  overflow: hidden;
}

.animation-container {
  height: 2%;
  border: 0px dashed #4a4a4a;
  padding: 0;
  margin-bottom: -2%;
  line-height: 0;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

.playback-bar {
  position: relative;
  margin: 10px auto;
  display: block;
  width: 90%;
  transform: scaleY(1.4);
  padding-top: 30px;
  margin-bottom: 40px;
  line-height: 50px;
}

.button-group-left {
  max-width: 6%;
  position: absolute;

  transform: translateY(2%);
  display: flex;
  flex-direction: column;

  z-index: 91;
}

.animation-wrapper:active {
  cursor: grabbing;
}

.toggle_zoom_wheel.active {
  background-color: #007bff;
  color: white;
}

.dfdf {
  width: 300px;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dfdf::-webkit-slider-runnable-track {
  height: 10px;
  background: #bbb;
  border-radius: 5px;
}

.dfdf::-webkit-slider-thumb {
  appearance: none;
  height: 25px;
  width: 25px;
  background: #555;
  border-radius: 50%;
  cursor: pointer;
}

.dfdf::-moz-range-track {
  height: 10px;
  background: #bbb;
  border-radius: 5px;
}

.dfdf::-moz-range-thumb {
  height: 25px;
  width: 25px;
  background: #555;
  border-radius: 50%;
  cursor: pointer;
}

.dfdf::-ms-track {
  height: 10px;
  background: #bbb;
  border-radius: 5px;
  border: none;
}

.dfdf::-ms-thumb {
  height: 25px;
  width: 25px;
  background: #555;
  border-radius: 50%;
  cursor: pointer;
}

.custom_popover1 > .popover-body {
  background-color: #009a05;
}
#button_for_video_background .dropdown-menu {
  margin-bottom: -30px !important;
}
#button_for_video_background .dropdown-menu {
  transform: translate3d(0, 0, 0) !important;
}

#button_for_video_background .dropdown-menu {
  padding: 0 !important;
}
#button_for_video_background {
  display: inline-block;
}
#youtube_mb_buttons {
  position: absolute !important;

  left: 0 !important;
}
#button_for_video_background button,
#button_for_video_background .dropdown-menu {
  border: none !important;
}

.btn_video_background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin-left: 1px !important;
  margin-right: 1px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  text-align: center;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.reload_button_video {
  color: grey !important;
  top: -10px !important;
  left: 0px !important;
}
:root,
[data-bs-theme="light"] {
  --bs-tertiary-bg: transparent;
  --bs-dropdown-link-active-bg: transparent;
}
:root,
[data-bs-theme="dark"] {
  --bs-tertiary-bg: transparent;
  --bs-dropdown-link-active-bg: transparent;
}

.deuxieme_coquille_top_button tr {
}

.deuxieme_coquille_top_button tr {
}
table tr:has(td:contains("2025")) {
}
table tr:has(td:contains("2025")) > * {
}
.deuxieme_coquille_top_button tr[data-year="2025"] td {
}

.deuxieme_coquille_top_button table {
}
.deuxieme_coquille_top_button tr[data-year="2025"] > * {
}

.animate_on_scroll,
.animate_fade_in,
.animate_from_right_on_scroll {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.animate_on_scroll.visible,
.animate_fade_in.visible,
.animate_from_right_on_scroll.visible {
  opacity: 1;
}

figcaption:not(.image > figcaption) {
  color: rgb(0, 255, 217);
}

.dynamicContentMenu__item {
  padding: 0 !important;
}

.tab-content:has(.tab-pane) p:nth-of-type(2n):not(:empty):not(section p) {
  background-color: #dedede43 !important;
}

.tab-content:has(.tab-pane) p:nth-of-type(2n + 1):not(:empty):not(section p) {
  background-color: #18181889;
}

* > div:nth-of-type(2n) > .first_paragraph_news_parts {
  color: rgb(255, 255, 255);
  text-align: center;
  border-top: 2px dotted rgb(128, 128, 128);

  border-right: 2px dotted grey;

  background-color: #4a8f00 !important;

  position: sticky;
  top: -2px;
}
.volet_historique_tiny_class div:nth-of-type(2n) > .first_paragraph_news_parts {
  top: -20px;
}

* > div:nth-of-type(2n + 1) > .first_paragraph_news_parts {
  color: rgb(255, 255, 255);
  text-align: center;
  border-top: 2px dotted rgb(128, 128, 128);

  border-right: 2px dotted grey;
  background-color: #006563 !important;

  position: sticky;
  top: -2px;
}
.volet_historique_tiny_class
  div:nth-of-type(2n + 1)
  > .first_paragraph_news_parts {
  top: -20px;
}

* > div:nth-of-type(2n) > .first_paragraph_modified_parts {
  color: rgb(255, 255, 255);
  text-align: center;
  border-top: 2px dotted grey;

  border-right: 2px dotted grey;

  background-color: #000000 !important;

  position: sticky;
  top: -2px;
}
.volet_historique_tiny_class
  div:nth-of-type(2n)
  > .first_paragraph_modified_parts {
  top: -20px;
}
* > div:nth-of-type(2n + 1) > .first_paragraph_modified_parts {
  color: rgb(255, 255, 255);
  text-align: center;
  border-top: 2px dotted grey;

  border-right: 2px dotted grey;

  background-color: grey !important;

  position: sticky;
  top: -2px;
}
.volet_historique_tiny_class
  div:nth-of-type(2n + 1)
  > .first_paragraph_modified_parts {
  top: -20px;
}

.conserve_actus,
.conserve_parties_ev_à_venir,
.conserve_projets,
.conserve_probs_tab,
.conserve_ideas,
.conserve_infos_tab,
.conserve_fonctios,
.conserve_amelios {
  border: 1px dotted grey;

  position: sticky;
  top: 0px;
  background-color: red;
}

.max_height_coq {
  max-height: 51vh;
  overflow: clip;
}

.vertical-text {
  position: absolute;

  white-space: nowrap;
  text-align: left;
}
.sticky-mode {
  position: sticky !important;
  width: 80% !important;
  top: 0px !important;
}

table.dotted_between_rows tbody tr:not(:last-child) {
  border-bottom: 1px dashed #aab;
}

table.dotted_between_rows td {
  border: none !important;
}

.selected_border {
  position: relative;
}

.selected_border::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 7px solid #ff006a;
}

#b1,
#b2,
.bi-cassette {
  padding-left: 6px;
  padding-right: 6px;
}

.audio_elements_right {
  padding: 0px 00px;
  margin-top: 10px;
  width: max-content;
}

.bouton_avec_fleche::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #00ff00;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu_hors_table {
  max-height: 82vh !important;
}
table .trois_last_modifs_weeks {
  max-height: 50vh !important;
}
.modal-content {
  max-height: 94vh;
  overflow: hidden;
}

.popover-body {
  max-width: 70vw;
}

.btn_outline_info_youtube_nohover {
  background-color: transparent;
  color: #0dcaf0;
  border: 1px dashed #0dcaf0;
}
.btn_outline_info_youtube_nohover:hover {
  background-color: transparent;
  color: white !important;
  border: 1px dashed white;
}

.btn_outline_light_custom_youtube {
  color: #9655d7;
  border: 1px solid #9655d7;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  transition:
    color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.btn_outline_light_custom_youtube:hover {
  color: #bf7fff !important;
  border: 1px solid #bf7fff;
  background-color: transparent;
}

.bs-popover-auto {
  max-height: 70vh;
  overflow-y: auto;
  max-width: 90vw !important;
  overflow-x: hidden;
}
.bs-popover-auto .popover-body {
  white-space: normal;
  word-wrap: break-word;
}
